In [1]:
import pandas as pd
#this is what the data looks like
df_insurance = pd.read_csv("insurance.csv")
df_insurance

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

# Medical Info Class
This class will import the csv and has methods for counting and averaging the data

In [2]:
class medical_info:
    def __init__(self, csv):
        #checking for a csv file or for a dataframe so class can work on age bracket dataframes
        if ".csv" in csv:
            self.df_insurance = pd.read_csv(csv)
        else:
            self.df_insurance = pd.DataFrame(csv)
        # grouping the data for futher analysis
        self.grp_sex = self.df_insurance.groupby("sex")
        self.grp_region = self.df_insurance.groupby("region")
        self.grp_smoker = self.df_insurance.groupby("smoker")
        self.grp_region_smoker = self.df_insurance.groupby(["region", "smoker"])
        
    def counts(self):
        #this will have a breakddown of how many individuals there are based on different groups such as smokers or males and females
        self.males = self.df_insurance["sex"].loc[df_insurance["sex"] == "male"].count()
        self.females = self.df_insurance["sex"].loc[df_insurance["sex"] == "female"].count()
        self.smokers = df_insurance.groupby("smoker").get_group("yes")["smoker"].count()
        self.nonsmokers = df_insurance.groupby("smoker").get_group("no")["smoker"].count()
        self.count_region_smokers = self.grp_region_smoker['age'].count()
        self.count_sex = self.grp_sex['age'].count()
        self.count_region = self.grp_region['age'].count()
        self.count_smokers = self.grp_smoker['age'].count()
        return (f"Number of Males and Females: \n{self.count_sex} \n\nThe number of individuals in each region:\n{self.count_region}\n\n" +
        f"The number of smokers and non-smokers:\n{self.count_smokers}\n\n" + f"The number of smokers in each region:\n{self.count_region_smokers}")
        
    def averages(self):
        #this is the average of the entire dataset
        self.mean = round(self.df_insurance[["age", "bmi", "children", "charges"]].mean(), 2)
        #individual column averages
        self.age_mean, self.bmi_mean, self.children_mean, self.charges_mean = self.mean
        #averages by groups
        self.mean_region = round(self.grp_region.mean(),2)
        self.mean_sex = round(self.grp_sex.mean(), 2)
        return (str.format('''The averages are as follows:\nAverage age is {} \nAverage bmi is {} \nAverage num of children is {}\nAverage insurance charges are ${}\n\n''', self.age_mean, self.bmi_mean, self.children_mean, self.charges_mean) +
            str.format("The averages grouped by Region: \n{}", self.mean_region) + "\n\n" +
            str.format("The averages grouped by Sex: \n{}", self.mean_sex))
    
    def __repr__(self):
        return "Here are basic statistics on the dataset: \n" + str(self.df_insurance.describe())
    
ins1 = medical_info("insurance.csv")
print(ins1)
print("\n")
print(ins1.counts())
print("\n") 
print(ins1.averages())
print("\n\n")

Here are basic statistics on the dataset:
               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010


Number of Males and Females:
sex
female    662
male      676
Name: age, dtype: int64

The number of individuals in each region:
region
northeast    324
northwest    325
southeast    364
southwest    325
Name: age, dtype: int64

The number of smokers and non-smokers:
smoker
no     1064
yes     274
Name: age, dtype: int64

The number of smokers in each region:
region     smoker
northeast  no        257
           yes        67
northwest  no        267
           yes        58
southeast  no        273
           yes        91
southwest  no        267
           yes        58
Name: age, dtype: int64


The averages are as follows:
Average age is 39.21
Average bmi is 30.66
Average num of children is 1.09
Average insurance charges are $13270.42

The averages grouped by Region:
             age    bmi  children   charges
region
northeast  39.27  29.17      1.05  13406.38
northwest  39.20  29.20      1.15  12417.58
southeast  38.94  33.36      1.05  14735.41
southwest  39.46  30.60      1.14  12346.94

The averages grouped by Sex:
          age    bmi  children   charges
sex
female  39.50  30.38      1.07  12569.58
male    38.92  30.94      1.12  13956.75

## Separate by age brackets

In [3]:
#function runs on dataframe and creates a list of variables storing each age bracket
def age_brackets(data):
    # age brackets are < 20; 20-29, 30-39, 40-49; 50+
    brackets = {1: 20, 2: 30, 3: 40, 4: 50}
    age_4 = data.loc[data["age"] >= brackets[4]]
    age_3 = data.loc[(data["age"] >= brackets[3]) & (data["age"] < brackets[4])]
    age_2 = data.loc[(data["age"] >= brackets[2]) & (data["age"] < brackets[3])]
    age_1 = data.loc[(data["age"] >= brackets[1]) & (data["age"] < brackets[2])]
    age_0 = data.loc[(data["age"] < brackets[1])]
    age_breakdown = [age_0, age_1, age_2, age_3, age_4]
    return age_breakdown

age_breakdown_list = age_brackets(ins1.df_insurance)
for item in age_breakdown_list:
    print(item[['age', 'bmi', 'children', 'charges']].mean())

age           18.496350
bmi           29.971496
children       0.437956
charges     8407.349242
dtype: float64
age           24.467857
bmi           29.786964
children       0.967857
charges     9561.751018
dtype: float64
age            34.420233
bmi            30.443833
children        1.501946
charges     11738.784117
dtype: float64
age            44.573477
bmi            30.709642
children        1.415771
charges     14399.203564
dtype: float64
age            56.602597
bmi            31.660065
children        0.916883
charges     17902.552070
dtype: float64

In [4]:
# getting averages and counts for each age bracket
for item in age_breakdown_list:
    item = medical_info(item)
    print(item)
    print("\n")
    print(item.averages())
    print("\n")
    print(item.counts())
    print("----------\n----------\n")

Here are basic statistics on the dataset:
              age         bmi    children       charges
count  137.000000  137.000000  137.000000    137.000000
mean    18.496350   29.971496    0.437956   8407.349242
std      0.501821    6.563831    0.881687  11418.833134
min     18.000000   15.960000    0.000000   1121.873900
25%     18.000000   25.175000    0.000000   1634.573400
50%     18.000000   30.030000    0.000000   2138.070700
75%     19.000000   34.400000    1.000000  13747.872350
max     19.000000   53.130000    5.000000  39722.746200


The averages are as follows:
Average age is 18.5
Average bmi is 29.97
Average num of children is 0.44
Average insurance charges are $8407.35

The averages grouped by Region:
             age    bmi  children  charges
region
northeast  18.00  28.56      0.41  7558.73
northwest  19.00  28.64      0.47  9479.64
southeast  18.08  33.89      0.45  8844.51
southwest  19.00  27.83      0.42  7543.20

The averages grouped by Sex:
          age    bmi  children  charges
sex
female  18.50  30.99      0.50  8067.03
male    18.49  29.02      0.38  8723.70


Number of Males and Females:
sex
female    66
male      71
Name: age, dtype: int64

The number of individuals in each region:
region
northeast    32
northwest    34
southeast    40
southwest    31
Name: age, dtype: int64

The number of smokers and non-smokers:
smoker
no     107
yes     30
Name: age, dtype: int64

The number of smokers in each region:
region     smoker
northeast  no        25
           yes        7
northwest  no        26
           yes        8
southeast  no        32
           yes        8
southwest  no        24
           yes        7
Name: age, dtype: int64
----------
----------

Here are basic statistics on the dataset:
              age         bmi    children       charges
count  280.000000  280.000000  280.000000    280.000000
mean    24.467857   29.786964    0.967857   9561.751018
std      2.877244    6.069968    1.213294  11489.583667
min     20.000000   16.815000    0.000000   1391.528700
25%     22.000000   25.730000    0.000000   2558.451463
50%     24.000000   29.735000    0.000000   3560.254575
75%     27.000000   33.400000    2.000000  16121.168887
max     29.000000   52.580000    5.000000  51194.559140


The averages are as follows:
Average age is 24.47
Average bmi is 29.79
Average num of children is 0.97
Average insurance charges are $9561.75

The averages grouped by Region:
             age    bmi  children   charges
region
northeast  24.57  27.73      0.99   9908.21
northwest  24.41  28.49      0.97   7232.65
southeast  24.52  32.98      0.79  11104.89
southwest  24.37  29.65      1.15   9837.31

The averages grouped by Sex:
          age    bmi  children   charges
sex
female  24.50  28.90      0.87   8801.55
male    24.44  30.61      1.06  10269.52


Number of Males and Females:
sex
female    135
male      145
Name: age, dtype: int64

The number of individuals in each region:
region
northeast    69
northwest    68
southeast    75
southwest    68
Name: age, dtype: int64

The number of smokers and non-smokers:
smoker
no     224
yes     56
Name: age, dtype: int64

The number of smokers in each region:
region     smoker
northeast  no        55
           yes       14
northwest  no        60
           yes        8
southeast  no        55
           yes       20
southwest  no        54
           yes       14
Name: age, dtype: int64
----------
----------

Here are basic statistics on the dataset:
              age         bmi    children       charges
count  257.000000  257.000000  257.000000    257.000000
mean    34.420233   30.443833    1.501946  11738.784117
std      2.887618    6.259875    1.240982  11789.067982
min     30.000000   16.815000    0.000000   3260.199000
25%     32.000000   26.400000    1.000000   4889.999500
50%     34.000000   29.800000    1.000000   6082.405000
75%     37.000000   34.430000    2.000000  17361.766100
max     39.000000   47.600000    5.000000  58571.074480


The averages are as follows:
Average age is 34.42
Average bmi is 30.44
Average num of children is 1.5
Average insurance charges are $11738.78

The averages grouped by Region:
             age    bmi  children   charges
region
northeast  34.52  28.46      1.46  12791.19
northwest  34.44  28.39      1.56  10154.71
southeast  34.28  33.61      1.41  11350.58
southwest  34.45  30.95      1.59  12713.56

The averages grouped by Sex:
          age    bmi  children   charges
sex
female  34.46  29.75      1.44  10425.82
male    34.38  31.13      1.56  13021.45


Number of Males and Females:
sex
female    127
male      130
Name: age, dtype: int64

The number of individuals in each region:
region
northeast    61
northwest    63
southeast    69
southwest    64
Name: age, dtype: int64

The number of smokers and non-smokers:
smoker
no     199
yes     58
Name: age, dtype: int64

The number of smokers in each region:
region     smoker
northeast  no        46
           yes       15
northwest  no        52
           yes       11
southeast  no        55
           yes       14
southwest  no        46
           yes       18
Name: age, dtype: int64
----------
----------

Here are basic statistics on the dataset:
              age         bmi    children       charges
count  279.000000  279.000000  279.000000    279.000000
mean    44.573477   30.709642    1.415771  14399.203564
std      2.868988    5.740669    1.156419  11639.984911
min     40.000000   19.190000    0.000000   5415.661200
25%     42.000000   26.315000    1.000000   7522.365900
50%     45.000000   30.200000    1.000000   8606.217400
75%     47.000000   34.590000    2.000000  19294.421160
max     49.000000   48.070000    5.000000  62592.873090


The averages are as follows:
Average age is 44.57
Average bmi is 30.71
Average num of children is 1.42
Average insurance charges are $14399.2

The averages grouped by Region:
             age    bmi  children   charges
region
northeast  44.62  29.59      1.47  13927.26
northwest  44.55  30.26      1.52  14339.18
southeast  44.49  32.75      1.32  16838.41
southwest  44.65  29.87      1.38  12025.83

The averages grouped by Sex:
          age    bmi  children   charges
sex
female  44.62  30.90      1.29  13907.05
male    44.53  30.52      1.54  14887.85


Number of Males and Females:
sex
female    139
male      140
Name: age, dtype: int64

The number of individuals in each region:
region
northeast    68
northwest    66
southeast    79
southwest    66
Name: age, dtype: int64

The number of smokers and non-smokers:
smoker
no     217
yes     62
Name: age, dtype: int64

The number of smokers in each region:
region     smoker
northeast  no        54
           yes       14
northwest  no        51
           yes       15
southeast  no        55
           yes       24
southwest  no        57
           yes        9
Name: age, dtype: int64
----------
----------

Here are basic statistics on the dataset:
              age         bmi    children       charges
count  385.000000  385.000000  385.000000    385.000000
mean    56.602597   31.660065    0.916883  17902.552070
std      4.312107    5.975622    1.156211  11631.772998
min     50.000000   18.050000    0.000000   8442.667000
25%     53.000000   27.075000    0.000000  11085.586800
50%     56.000000   31.790000    0.000000  12629.896700
75%     60.000000   36.100000    2.000000  20781.488920
max     64.000000   49.060000    5.000000  63770.428010


The averages are as follows:
Average age is 56.6
Average bmi is 31.66
Average num of children is 0.92
Average insurance charges are $17902.55

The averages grouped by Region:
             age    bmi  children   charges
region
northeast  56.51  30.60      0.73  17987.30
northwest  56.63  29.72      0.99  17398.42
southeast  56.75  33.72      1.03  20431.87
southwest  56.51  32.43      0.91  15652.15

The averages grouped by Sex:
          age    bmi  children   charges
sex
female  56.64  31.24      1.02  17144.97
male    56.57  32.10      0.81  18680.07


Number of Males and Females:
sex
female    195
male      190
Name: age, dtype: int64

The number of individuals in each region:
region
northeast     94
northwest     94
southeast    101
southwest     96
Name: age, dtype: int64

The number of smokers and non-smokers:
smoker
no     317
yes     68
Name: age, dtype: int64

The number of smokers in each region:
region     smoker
northeast  no        77
           yes       17
northwest  no        78
           yes       16
southeast  no        76
           yes       25
southwest  no        86
           yes       10
Name: age, dtype: int64
----------
----------

### BMI difference function

In [5]:
# function for seeing the difference between each age bracket's BMI
def bmi_difference(firstage, secondage):
    firstageclass = medical_info(firstage)
    firstageclass.averages()
    secondageclass = medical_info(secondage)
    secondageclass.averages()
    print(str(firstageclass.bmi_mean) + " - " + str(secondageclass.bmi_mean) + " = ")
    print(firstageclass.bmi_mean - secondageclass.bmi_mean)

bmi_difference(age_breakdown_list[0], age_breakdown_list[3])

29.97 - 30.71 =
-0.740000000000002

In [6]:
# Percent of average (charges)
df_sex = df_insurance.groupby("sex")
df_charges_sex = df_insurance.groupby("sex")["charges"].mean()
print(df_charges_sex)
for charge in df_charges_sex:
    print(str(round(charge / 13270.42 * 100)) + "% of Average")

sex
female    12569.578844
male      13956.751178
Name: charges, dtype: float64
95% of Average
105% of Average