In [3]:
import pandas as pd

df_insurance = pd.read_csv("insurance.csv")
df_insurance

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

### Medical Info Class

In [271]:
class medical_info:
    def __init__(self, csv):
        self.df_insurance = pd.read_csv(csv)
        # grouping the data for futher analysis
        self.grp_sex = self.df_insurance.groupby("sex")
        self.grp_region = self.df_insurance.groupby("region")
        self.grp_smoker = self.df_insurance.groupby("smoker")
        self.grp_region_smoker = self.df_insurance.groupby(["region", "smoker"])
        
    def counts(self):
        self.males = self.df_insurance["sex"].loc[df_insurance["sex"] == "male"].count()
        self.females = self.df_insurance["sex"].loc[df_insurance["sex"] == "female"].count()
        self.smokers = df_insurance.groupby("smoker").get_group("yes")["smoker"].count()
        self.nonsmokers = df_insurance.groupby("smoker").get_group("no")["smoker"].count()
        self.count_sex = self.grp_sex['age'].count()
        self.count_region = self.grp_region['age'].count()
        self.count_smokers = self.grp_smoker['age'].count()
        return (f"Number of Males and Females: \n {self.count_sex} \n\n The number in each region:\n{self.count_region}" +
        f"\n\n The number of smokers and non-smokers:\n{self.count_smokers}")
        
    def averages(self):
        self.mean = round(self.df_insurance[["age", "bmi", "children", "charges"]].mean(), 2)
        self.age_mean, self.bmi_mean, self.children_mean, self.charges_mean = self.mean
        # self.age_mean = self.df_insurance["age"].mean()
        # self.region_mean = self.df_insurance.groupby("region").mean()
        # self.bmi_mean = self.df_insurance["bmi"].mean()
        # self.sex_mean = self.df_insurance.groupby("sex").mean()
        # return (f"The average age in the data is: {round(self.age_mean,1)} \n\nThe averages per region are: \n {self.region_mean}" + 
        # f"\n\nthe averages per sex are: \n {self.sex_mean}")
        # return f"the average bmi is {round(self.bmi_mean, 2)}"
        return str.format("The average age is {}, average bmi is {}, average num of children is {}, average insurance charges are ${}", self.age_mean, self.bmi_mean, self.children_mean, self.charges_mean)
    
    def average_charges(self):
        self.mean_charges = self.df_insurance["charges"].mean()
        return f"The average medical ins charges of the data are: ${round(self.mean_charges, 2)}"
    
    def __repr__(self):
        return "Here are basic statistics on the dataset: \n" + str(df_insurance.describe())
    
ins1 = medical_info("insurance.csv")
print(ins1)
print("\n")
print(ins1.counts())
print("\n") 
print(ins1.averages())
print("\n\n")
print(ins1.average_charges())
print("\n\n")
print(ins1.mean)
ins1.grp_sex["charges"].mean()

Here are basic statistics on the dataset:
               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010


Number of Males and Females:
 sex
female    662
male      676
Name: age, dtype: int64

 The number in each region:
region
northeast    324
northwest    325
southeast    364
southwest    325
Name: age, dtype: int64

 The number of smokers and non-smokers:
smoker
no     1064
yes     274
Name: age, dtype: int64


The average age is 39.21, average bmi is 30.66, average num of children is 1.09, average insurance charges are $13270.42



The average medical ins charges of the data are: $13270.42



age            39.21
bmi            30.66
children        1.09
charges     13270.42
dtype: float64

sex
female    12569.578844
male      13956.751178
Name: charges, dtype: float64